.hide {
    display: none;
}

.display-flex,
.flex {
    display: flex;
}

.no-float {
    float: none !important;
}

.flex-fill {
    flex-grow: 1;
}

.inline-block {
    display: inline-block;
}

.width-unset {
    width: unset !important;
}

// Generate flex classes
@for $i from 1 through 10 {
    .flex-#{$i} {
        flex: #{$i};
    }
}
