.woocommerce .col-1,
.woocommerce .col-2 {
    max-width: 100%;
}
.woocommerce .col-small {
    width: 33.33%;
    padding-right: 20px;
}
.woocommerce .col-wide {
    width: 66.66%;
}
.woocommerce a,
.woocommerce a:not(button):hover,
.woocommerce a:not(.button):hover {
    color: #000;
    font-weight: 600;
}
.woocommerce a:not(button):hover .woocommerce a:not(.button):hover {
    text-decoration: underline;
}
.woocommerce a:focus,
.woocommerce .button:focus,
.woocommerce .button.alt:focus,
.woocommerce .button.added_to_cart:focus,
.woocommerce .button.wc-forward:focus,
.woocommerce button:focus,
.woocommerce input[type='button']:focus,
.woocommerce input[type='reset']:focus,
.woocommerce input[type='submit']:focus {
    outline: none;
}
.woocommerce-error,
.woocommerce-info,
.woocommerce-message,
.woocommerce-noreviews,
p.no-comments {
    border-color: #000;
    background: #e6e5e5;
    border-radius: 0;
    color: #000;
}
.woocommerce .input-text,
.woocommerce input[type='email'],
.woocommerce input[type='password'],
.woocommerce input[type='search'],
.woocommerce input[type='text'],
.woocommerce input[type='url'],
.woocommerce textarea {
    box-shadow: none;
}
.woocommerce .star-rating span::before,
.woocommerce .quantity .plus,
.woocommerce .quantity .minus,
.woocommerce p.stars a:hover::after,
.woocommerce p.stars a::after,
.woocommerce .star-rating span::before,
.woocommerce
    #payment
    .payment_methods
    li
    input[type='radio']:first-child:checked
    + label::before {
    color: #ad2a23;
}
.woocommerce ul.order_details::after,
.woocommerce ul.order_details::before {
    display: none;
}
.woocommerce .order_details {
    background: #fff;
}

.woocommerce-cart
    h1
    .woocommerce-cart
    h2
    .woocommerce-cart
    h3
    .woocommerce-cart
    h4
    .woocommerce-cart
    h5
    .woocommerce-cart
    h6,
.woocommerce-cart table {
    color: #000;
}
.woocommerce-cart .woocommerce-cart-form table th {
    border-bottom: 1px solid #000;
}
.woocommerce-cart table th,
.woocommerce-cart table tbody td,
.woocommerce-cart table.cart td.product-quantity .qty,
.woocommerce-cart table.cart td.actions input,
.woocommerce-cart table tbody tr:nth-child(2n) td,
.woocommerce-cart fieldset,
.woocommerce-cart fieldset legend {
    background-color: #fff;
}
.woocommerce-cart table tbody td {
    vertical-align: top;
}
.woocommerce-cart .entry-header h1 {
    text-align: center;
    font-weight: 600;
}
.woocommerce-cart table.cart td.product-subtotal {
    padding-bottom: 1.618em;
}
.woocommerce-cart a.remove::before,
.woocommerce-cart table.cart td.actions input {
    color: #000;
}
.woocommerce-cart table.cart td.actions input,
.woocommerce-cart table.cart td.product-quantity .qty {
    border: 1px solid #000;
}
.woocommerce-cart .cart-collaterals .cart_totals h2 {
    display: none;
}
.woocommerce-cart table tbody td.product-size label {
    display: block;
    font-weight: 600;
}
.woocommerce-cart table tbody td.product-size select {
    border: 1px solid #000;
    min-width: 100px;
    padding: 5px 10px;
    margin: 0 0 20px 0;
}
.woocommerce-cart table.cart td.actions {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 20px 0;
}

.woocommerce-checkout {
    color: #000;
}
.woocommerce-checkout h1,
.woocommerce-checkout h2,
.woocommerce-checkout h3,
.woocommerce-checkout h4,
.woocommerce-checkout h5,
.woocommerce-checkout h6,
.woocommerce-checkout #ship-to-different-address label {
    font-weight: 600;
    color: #000;
}
.woocommerce-checkout h3 {
    border-bottom: 1px solid #000;
    padding-bottom: 10px !important;
    margin-bottom: 40px !important;
    text-align: center;
}
.woocommerce-checkout .col-1,
.woocommerce-checkout .col-2 {
    width: 100%;
    max-width: 100%;
    margin-bottom: 80px;
}
.woocommerce-checkout .input-text:focus,
.woocommerce-checkout input[type='email']:focus,
.woocommerce-checkout input[type='password']:focus,
.woocommerce-checkout input[type='search']:focus,
.woocommerce-checkout input[type='text']:focus,
.woocommerce-checkout input[type='url']:focus,
.woocommerce-checkout textarea:focus,
.woocommerce-checkout .form-row input,
.woocommerce-checkout .form-row select,
.woocommerce-checkout .form-row textarea,
.woocommerce-checkout .select2-container--default .select2-selection--single {
    border: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.woocommerce-checkout .select2-container--default .select2-selection--single {
    height: 47px;
    background: #f2f2f2;
}
.woocommerce-checkout
    .select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    line-height: 47px;
}
.woocommerce-checkout
    .select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    height: 46px;
}
.woocommerce-checkout #order_review table th,
.woocommerce-checkout #order_review table tbody td,
.woocommerce-checkout #payment .place-order {
    background: #fff;
}
.woocommerce-cart .wc-proceed-to-checkout .button.checkout-button,
.woocommerce-checkout #payment .place-order .button {
    background: #ad2a23;
}
.woocommerce-checkout #payment .place-order,
.woocommerce-checkout #payment .place-order .button {
    padding: 0 !important;
}
.woocommerce-checkout #payment .place-order .button {
    line-height: 73px;
    height: 73px;
}
.woocommerce-checkout img {
    border-radius: 0;
}
.woocommerce-checkout .promocodes {
    margin-bottom: 20px;
}
.woocommerce-checkout .promocodes label {
    font-weight: 600;
}
.woocommerce-checkout .promocodes input[type='text'] {
    width: 100%;
}
.woocommerce-checkout .promocodes .form-row {
    margin-bottom: 10px;
}
.woocommerce-checkout .promocodes .input-wrapper {
    position: relative;
}
.woocommerce-checkout .promocodes .button {
    padding-top: 0;
    padding-bottom: 0;
    background: #ad2a23;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    line-height: 45px;
    color: #fff;
}
.woocommerce-checkout .live-chat {
    margin-bottom: 40px;
}
.woocommerce-checkout .live-chat p {
    margin-bottom: 0;
}
.woocommerce-checkout .live-chat .button {
    text-align: center;
    width: 100%;
    border: 1px solid black;
    text-transform: uppercase;
    background: #fff;
}
.woocommerce-checkout .live-chat .button:hover {
    background: #ad2a23;
    color: #fff;
}
.woocommerce-checkout .live-chat span,
.woocommerce-checkout .promocodes span {
    font-size: 0.8em;
    line-height: 100%;
}

.woocommerce-order-received .woocommerce-thankyou-order-details li {
    border: none;
    padding: 0;
    margin-bottom: 40px;
}
.woocommerce-order-received .woocommerce-order-details {
    display: none;
}
.woocommerce-order-received ul.order_details li {
    text-transform: none;
    font-size: 20px;
}
.woocommerce-order-received .woocommerce-thankyou-order-details h2 {
    margin: 0;
}
.woocommerce-order-received .woocommerce-thankyou-order-details p {
    margin-bottom: 0;
}
.woocommerce-order-received .col2-set#customer_login .col-1,
.woocommerce-order-received .col2-set.addresses .col-1 {
    padding: 0;
}
.woocommerce-order-received .woocommerce-columns--addresses {
    padding: 20px 30px;
    border: 1px solid black;
}
.woocommerce-order-received .woocommerce-thankyou-order-received {
    margin-bottom: 80px;
}

#meta > ul > li.shoppingcart {
    text-transform: none;
}
.shoppingcart {
    position: relative;
}
.shoppingcart .shoppingcart-popup {
    display: none;
    background: #fff;
    margin-top: 20px;
    position: absolute;
    right: 0;
    background: white;
    min-width: 270px;
    padding: 20px;
    text-transform: none;
}
.shoppingcart .shoppingcart-popup header h3 {
    margin-bottom: 25px !important;
    padding-bottom: 20px;
    text-transform: none;
    text-align: center;
    border-bottom: 1px solid #000;
    font-weight: bold;
}
.shoppingcart .shoppingcart-popup img {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
}
.shoppingcart .shoppingcart-popup p {
    line-height: 120%;
    font-size: 12px;
}
.shoppingcart .shoppingcart-popup .cart-prod-title {
    margin-bottom: 10px;
}
.shoppingcart .shoppingcart-popup .item {
    margin-bottom: 22px;
    padding-bottom: 25px;
    border-bottom: 1px solid #000;
}
.shoppingcart .shoppingcart-popup .cart-prod-subtotal {
    text-align: right;
    margin-bottom: 20px;
}
.shoppingcart .shoppingcart-popup .button {
    background: #a20f0f;
    color: #fff;
    display: block;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
}
.shoppingcart .col-half {
    width: 47%;
}
.shoppingcart .shoppingcart-popup {
    background: #f3f3f3;
    border: 1px solid #f3f3f3;
}
.shoppingcart .shoppingcart-popup:after,
.shoppingcart .shoppingcart-popup:before {
    bottom: 100%;
    right: 5px;
    border: solid transparent;
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.shoppingcart .shoppingcart-popup:after {
    border-color: rgba(243, 243, 243, 0);
    border-bottom-color: #f3f3f3;
    border-width: 12px;
    margin-left: -12px;
}
.shoppingcart .shoppingcart-popup:before {
    border-color: rgba(243, 243, 243, 0);
    border-bottom-color: #f3f3f3;
    border-width: 13px;
    margin-left: -13px;
}

.total-cart-items {
    display: block;
    text-align: center;
    font-size: 10px;
    width: 15px;
    height: 15px;
    background: #bb2d1a;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    line-height: 15px;
    color: #fff;
    position: absolute;
    top: -20px;
    right: -10px;
}

.woocommerce {
    margin-top: 0px;
}

@media screen and (min-width: 768px) {
    #main > .product {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            'gallery summary'
            'gallery colors'
            '. description'
            '. related';
    }
}
.form_row {
    grid-area: colors;
}
.woocommerce-product-gallery {
    grid-area: gallery;
}
.summary {
    grid-area: summary;
    margin-bottom: 0 !important;
}

.woocommerce-tabs {
    grid-area: description;
}
.related {
    grid-area: related;
}
.related .button {
    display: none;
}
#pa_size {
    border: 1px solid #000;
    width: 70%;
    position: relative;
    background-color: white;
    font-size: 20px;
    height: 50px;
}
.variations label {
    font-size: 24px;
    line-height: 30px;
    color: black;
}
.summary .single_add_to_cart_button {
    background: #bb2d1a;
    opacity: 1 !important;
}
.filter_nav ul {
    display: block;
    list-style: none;
    padding: 0 0 20px;
    margin: 0 0 20px;
    position: relative;
}

.filter_nav ul:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}

aside .widget-title {
    border-bottom: 1px solid black !important;
    font-family: 'Book' !important;
    font-size: 1em !important;
}

.filter_nav ul li {
    display: block;
    font-size: 14px;
    margin: 0 0 8px;
    letter-spacing: 0.02em;
}

.filter_nav ul li a {
    display: block;
    transition: ease 0.3s all;
    -moz-transition: ease 0.3s all;
    -webkit-transition: ease 0.3s all;
    -ms-transition: ease 0.3s all;
    -o-transition: ease 0.3s all;
    text-decoration: none;
    color: #000;
    padding: 5px 0 7px;
    font-family: 'Book';
}

.filter_nav ul li.current_menu_item a,
.filter_nav ul li a:hover {
    color: #a20f0f;
}

.filter_nav ul li a:hover {
    color: #a20f0f;
}

.filter_nav ul li.current_menu_item a {
    color: #a20f0f;
}

.filter_nav ul li ul {
    list-style: none;
    padding: 6px 10px 0;
}

.filter_nav ul li.current_menu_item ul {
    display: block;
}

.filter_nav ul li ul li {
    display: block;
    margin: 0 0 4px;
}

.filter_nav ul li ul li a {
    display: block;
    transition: ease 0.3s all;
    -moz-transition: ease 0.3s all;
    -webkit-transition: ease 0.3s all;
    -ms-transition: ease 0.3s all;
    -o-transition: ease 0.3s all;
    text-decoration: none;
    color: #808284;
    padding: 5px 0 5px 15px;
}

.filter_nav ul li ul li a:hover {
    background-color: #f5f5f5;
}

.filter_nav ul li ul li:last-child {
    margin-bottom: 0;
}

.filter_nav ul li:last-child {
    margin-bottom: 0;
}
.widget_recent_entries ul li:before,
.widget_pages ul li:before,
.widget_categories ul li:before,
.widget_archive ul li:before,
.widget_recent_comments ul li:before,
.widget_nav_menu ul li:before,
.widget_links ul li:before,
.widget_product_categories ul li:before,
.widget_layered_nav ul li:before,
.widget_layered_nav_filters ul li:before {
    display: none !important;
}
.widget_recent_entries ul li,
.widget_pages ul li,
.widget_categories ul li,
.widget_archive ul li,
.widget_recent_comments ul li,
.widget_nav_menu ul li,
.widget_links ul li,
.widget_product_categories ul li,
.widget_layered_nav ul li,
.widget_layered_nav_filters ul li {
    padding-left: 0;
}

.product p {
    position: relative;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: inherit;
    padding: 0px;
    text-align: left;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    letter-spacing: 0.04em;
    z-index: 1;
    opacity: 1;
    transition: ease 0.3s all;
    -moz-transition: ease 0.3s all;
    -webkit-transition: ease 0.3s all;
    -ms-transition: ease 0.3s all;
    -o-transition: ease 0.3s all;
}

.tabs {
    padding-bottom: 30px;
}

.tab-links > li:first-child {
    margin-left: -48px !important;
}

.order_form .variants label span i {
    width: 26px;
    height: 26px;
}

.color-circle {
    background-color: #81d742;
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    overflow: hidden;
    text-indent: -9999px;
}

.order_form .variants label span {
    padding: 4px;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    overflow: hidden;
    display: block;
    transition: ease 0.3s all;
    -moz-transition: ease 0.3s all;
    -webkit-transition: ease 0.3s all;
    -ms-transition: ease 0.3s all;
    -o-transition: ease 0.3s all;
}

.order_form label {
    font-size: 24px;
    line-height: 30px;
    display: block;
    margin: 0 0 12px;
}

.order_form .form_row {
    margin: 0 0 18px;
    position: relative;
}

.round-button {
    border-radius: 50%;
    padding-left: 15px;
    padding-right: 10px;
}

#intro_visual {
    margin-bottom: 100px;
}
.orderby {
    display: none;
}
.woocommerce-result-count {
    display: none;
}
.quantity {
    display: none !important;
}
#pa_size {
    width: 250px;
    height: 55px;
}
.single-product div.product table.variations td,
.single-product div.product table.variations th {
    padding-bottom: 10px;
}
.single-product div.product table.variations .value {
    padding: 0;
    margin-bottom: 0px !important;
}
.woocommerce-variation-add-to-cart {
    padding-top: 20px !important;
}
.tabs {
    grid-area: description;
}
.product_meta {
    display: none;
}
.summary {
    width: 100% !important;
}
small {
    font-size: 50%;
    padding-bottom: 2px;
    padding-left: 10px;
    display: inline-block;
}
.product_title {
    font-size: 36px;
    letter-spacing: 0.04em;
    margin: 0 0 10px;
    font-weight: normal;
    font-style: normal;
}
.single-product div.product p.price {
    margin: 0 !important;
}
.woocommerce-product-details__short-description {
    display: none;
}

.quantity {
    display: none !important;
}
.round-button {
    border-radius: 50%;
    padding-left: 15px;
    height: 25px;
}
.woocommerce {
    margin-top: 0px !important;
}
.single-product .woocommerce,
.archive .woocommerce {
    margin-top: 40px !important;
}
.color-circle {
    background-color: #1e73be;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    display: inline-block;
}
.color,
.subtitle {
    display: inline-block;
}
.color {
    padding-left: 5px;
}
.elementor-1880 .elementor-element.elementor-element-b33a1bc {
    color: black !important;
}
.woocommerce-ordering,
.woocommerce-result-count {
    display: none;
}
.product_item {
    display: inherit !important;
}
.woocommerce-product-gallery {
    width: 90% !important;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: 'ol big';
}
.woocommerce-product-gallery > .flex-viewport {
    grid-area: big;
}
.woocommerce-product-gallery > ol {
    grid-area: ol;
}
@media screen and (min-width: 768px) {
    .woocommerce-product-gallery > ol > li {
        width: 100% !important;
        padding-right: 10px;
    }
    .product > .form_row {
        margin-top: -120px;
    }
    .tabs {
        margin-top: -120px;
    }
}
@media screen and (max-width: 768px) {
    .woocommerce-product-gallery {
        width: 100% !important;
        display: block;
    }
    .woocommerce-product-gallery > ol > li {
        width: 15% !important;
        padding-right: 5px;
        margin: 0 !important;
    }
}
.woocommerce-product-gallery__trigger {
    display: none;
}
.products {
    padding-left: 20px;
    padding-right: 20px;
}
.summary .price,
.summary .woocommerce-Price-currencySymbol,
.summary .price > *,
.summary small {
    font-family: 'Futura Std' !important;
}
.form_row h3 {
    font-family: 'Book';
    font-size: 22px;
}

@media screen and (min-width: 600px) {
    .single_add_to_cart_button {
        padding: 0.5em 6.5em !important;
    }
    .button_lease_prod {
        max-width: 60vw !important;
        font-size: 1.3em;
        padding: 0.5em 7.2em !important;
        margin-top: -20px;
    }
}
@media screen and (max-width: 600px) {
    .single_add_to_cart_button {
        padding: 0.5em 4.3em !important;
    }
    .button_lease_prod {
        max-width: 60vw !important;
        font-size: 1.3em;
        padding: 0.5em 4.7em !important;
        margin-top: -20px;
    }
}
.tab-links > li > a {
    font-weight: 400;
}
.single-product #content > h2 {
    font-family: 'Futura', serif;
    font-size: 22px !important;
    padding-bottom: 20px;
}
.the_name {
    padding-top: 10px !important;
    font-weight: normal !important;
    font-family: 'Book' !important;
    color: black !important;
}

.single-product div.product form.cart {
    margin: 0 !important;
    padding: 0 !important;
}

.wpml-ls-statics-shortcode_actions,
.wpml-ls-statics-shortcode_actions .wpml-ls-sub-menu,
.wpml-ls-statics-shortcode_actions a {
    border: none;
    background: transparent;
    color: #000;
    padding-top: 0.5px;
    padding-bottom: 1px;
}
.wpml-ls-legacy-dropdown a:hover,
.wpml-ls-legacy-dropdown a:focus,
.wpml-ls-legacy-dropdown .wpml-ls-current-language:hover > a {
    background: transparent;
}
.wpml-ls-legacy-dropdown {
    width: auto;
}
.elementor-widget-accordion
    .elementor-accordion
    .elementor-tab-title.elementor-active,
.elementor-widget-accordion .elementor-accordion .elementor-tab-title {
    color: #000;
}
.the_connection .the_newsletter input[type='email'] {
    border-bottom: 1px solid #000;
    padding: 8px 50px 8px 0;
    color: #000;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.02em;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    box-shadow: 0;
    -moz-box-shadow: 0;
    -webkit-box-shadow: 0;
    background: #fff;
    box-shadow: none;
}
.checkout_coupon {
    display: block !important;
    margin-bottom: 0px !important;
}
.wpgmza_marker_carousel .owl-carousel .wpgmza_carousel_image_holder img {
    width: auto !important;
    display: inline;
    height: auto !important;
    max-height: 100px;
    max-width: 100px;
}
.wpgmza_carousel_info_holder p {
    color: #000;
    font-size: 12px;
}
.wpgmza_marker_carousel .item {
    background: #fff;
}
.wpgmza_marker_carousel .item .wpgmza_marker_title {
    font-size: 14px;
    margin-bottom: 0;
}
.wpgmza_marker_carousel .item a {
    color: #a20f0f !important;
}
small {
    padding-left: 0;
    font-size: 12px;
}
#nav > ul > li > a,
#meta > ul > li > a {
    color: #000;
}
.single-product div.product .woocommerce-product-gallery {
    height: 600px;
    overflow: hidden;
}

.archive-img-wrap:hover > img {
    visibility: hidden !important;
}
.archive-img-wrap {
    background-position: contain !important;
}
img {
    border-radius: 0px !important;
}

@media screen and (min-width: 768px) {
    #main > .product {
        grid-template-areas: 'gallery summary' 'gallery colors-review-fit' 'gallery .' 'gallery related';
        grid-template-columns: 10fr 9fr;
    }
    .product > .form_row,
    .tabs {
        margin-top: 0px !important;
    }
}
.button_lease_prod {
    background: #bb2d1a !important;
    color: white !important;
    margin-bottom: 10px;
    margin-top: 18px;
    opacity: 1;
    &:hover {
        opacity: 0.6;
    }
}

.the_reviews .current_reviews ul {
    margin: 0;
}

/* Luciano */
@media screen and (min-width: 768px) {
    div.woocommerce-product-gallery.woocommerce-product-gallery--with-images.woocommerce-product-gallery--columns-4.images
        > ol {
        overflow: hidden;
        margin-left: -20px;
    }

    div.woocommerce-product-gallery.woocommerce-product-gallery--with-images.woocommerce-product-gallery--columns-4.images
        > ol
        > li {
        overflow: hidden;
        width: 100px !important;
        display: flex;
        justify-content: center;
        padding-left: 23px;
        margin-bottom: 5px;
    }

    div.woocommerce-product-gallery.woocommerce-product-gallery--with-images.woocommerce-product-gallery--columns-4.images
        > ol
        > li
        > img {
        height: 120px;
        min-width: 120px !important;
    }

    div.woocommerce-product-gallery.woocommerce-product-gallery--with-images.woocommerce-product-gallery--columns-4.images
        > div {
        margin-left: 8px;
    }
}

.single_variation_wrap .woocommerce-variation.single_variation {
    display: none !important;
}

div.woocommerce-variation-add-to-cart.variations_button.woocommerce-variation-add-to-cart-disabled
    > button {
    transition: all 0.2s ease;
}
div.woocommerce-variation-add-to-cart.variations_button.woocommerce-variation-add-to-cart-disabled
    > button:hover {
    opacity: 0.4 !important;
}
.elementor-text-editor.elementor-clearfix {
    font-family: Futura;
}

div.woocommerce-variation-add-to-cart.variations_button.woocommerce-variation-add-to-cart-enabled > button {
    opacity: 1;
    &:hover {
        opacity: .6 !important;
    }
}

// MOBILE
@media screen and (max-width: 768px) {
    .shoppingcart {
        margin-top: 5px !important;
    }
    #pa_size {
        width: 250px !important;
    }
    .single_add_to_cart_button,
    .button_lease_prod {
        width: 250px;
        padding: 0.5em 0 !important;
        text-align: center;
    }
    .languages {
        margin-left: -20px !important;
    }
    .single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-4 .flex-control-thumbs li:nth-child(4n+1) {
        clear: none !important;
    }
    .woocommerce-product-gallery.woocommerce-product-gallery--with-images.woocommerce-product-gallery--columns-4.images > ol {
        display: flex !important;
    }
    .highlight_header .flex {
        display: block !important;
        .the_info {
            padding-left: 0 !important;
        }
    }
}

@media screen and (max-width: 340px) {
    .logo {
        left: 132px !important;
    }
    .languages {
        margin-left: -50px !important;
    }
    #toggle {
        margin-left: -20px;
    }
}