// Due to time concerns I wasn't able to use a clean sass folder structure...
// <img src="sad.jpg"/>
// Also, beware, this is not my proudest code

// Product category page
.woocommerce-LoopProduct-link {
    font-size: 18px;
    text-align: left;
    img {
        margin-bottom: 0.8em !important;
    }
}

.woocommerce-loop-product_title {
    display: none;
}

.products .product > ul {
    margin-left: 0;
    list-style-type: none !important;
    text-align: left !important;
}

.price {
    color: black !important;
    text-align: right;
    margin-top: -48px;
}


// Single product page
.detail.tabs {
    grid-area: related;
}

@media (min-width: 768px) {
    .storefront-full-width-content.single-product div.product .summary {
        width: 85% !important;
        float: none !important;
    }
}

.product_title.entry-title.product_header {
    margin-bottom: 0 !important;
    small {
        font-size: 50%; // Can't set font weight?
    }
}

.single-product div.product p.price {
    margin-top: 4px !important;
    margin-bottom: 6px !important;
}

#pa_size {
    margin-top: 6px;
    width: 346px !important;
    max-width: 95vw !important;
}

.product_meta {
    display: none;
}

.single_add_to_cart_button {
    max-width: 60vw !important;
    font-size: 1.3em;
    padding: 0.5em 4em !important;
}

.woocommerce-variation-add-to-cart {
    .quantity > input {
        max-width: 20vw !important;
        font-size: 1.3em;
        padding: 0.5em 0.1em !important;
    }
}