// Use this file for shameful sass code, you know, that !important stuff ;)

#primary {
    width: 100% !important;
}

#secondary {
    display: none !important;
}

.select-option.swatch-wrapper {
    border: none;
    padding: 0;
    border-radius: 100px;
    overflow: hidden;
    width: 25px;
    height: 25px;
    margin: 8px;
    &.selected {
        border: solid 2px black;
        padding: 0;
    }
}

.woocommerce-breadcrumb {
    display: none;
}

.woocommerce {
    margin-top: 40px;
}

.product {
    * {
        font-family: Book;
    }
    h1, h2, h3, h4 {
        font-family: Futura;
    }
}


// NEW
.first-payment-date {
    display: none;
}

@media screen and (min-width: 600px) {
    margin-top: 18px;
}

.single-product div.product .variations_button {
    padding-top: 0;
    margin-top: -4px;
}

.single-product div.product table.variations {
    margin-top: 30px;
}

nav a {
    font-weight: normal !important;
}

.button_lease_prod {
    background: #bb2d1a;
    color: #fff;
    opacity: .6;
}